<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>TimeLimit:</strong>
  <%= @task.time_limit %>
</p>

<p>
  <strong>状態:</strong>
  <%= @task.completed %>
</p>

<p>
  <strong>優先順位:</strong>
  <% @task.priority %>
  <% if @task.priority == 0  %>
    <%= "低" %>
  <% elsif @task.priority == 1  %>
    <%= "中" %>
  <% elsif @task.priority == 2  %>
    <%= "高" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
